.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.segmentation-data {
  display: inline-block; /* or block */
  max-width: 100%; /* Adjust this as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

/* section: for the main content to fillout the viewport */
.flex-grow-1 {
  flex-grow: 1;
}

.min-vh-100 {
  min-height: 100vh;
}


/* holder of the canvas in /edit/ route */
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take up full viewport height */
  width: 100vw; /* Take up full viewport width */

  flex-grow: 1;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.selection-panel {
  /* position: absolute; */
  top: 0;
  right: 0;
  width: 300px; /* Adjust as needed */
  height: 100%;
  background-color: white;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3); /* shadow on the left edge */
  z-index: 100; /* Ensure it's above other content */
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
}

@media (max-width: 768px) { /* Adjust the breakpoint as necessary */
  .selection-panel-body {
    width: 150px; /* Smaller width on smaller screens */
    /* You can add more responsive adjustments here */
  }

  .mb-2 {
    width: 150px;
    transform: scale(0.8);
    font-size: 0.8rem;
  }

  .mb-3 {
    transform: scale(0.9);
  }

  .mb-2 .sample-image {
    min-width: 125px; /* Ensure the image doesn't become too small */
  }
}

/* Bootstrap classes */
.card-header,
.card-footer {
  position: sticky;
  top: 0;
  z-index: 1020; /* Higher than the card body content */
}

/* Custom class for the scrollable card body */
.scrollable-card-body {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  z-index: 101; /* Ensures it's under the header and footer */
}

.sample-image {
  width: 100%;   /* This makes the image responsive to the width of its container */
  height: auto;  /* This maintains the aspect ratio */
  display: block; /* This removes any extra space below the image */
}

.mb-2 .card-img-left {
  width: 200px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  object-fit: cover; /* This will cover the area without stretching the image */
}


.alert-middle-viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Ensure it's above most other content */
}

/* section: loginComponent */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
  float: right;
  cursor: pointer;
}

/* section: CalendarComponent */
.react-datepicker-popper {
    z-index: 100; /* Ensures the popper is above other content but still manageable */
}

.date-picker-container .date-picker-wrapper {
    position: relative; /* Position context for popper */
}

.calendar-day--completed {
  background-color: #28a745; /* A green background for completed dates */
  color: white; /* White text to contrast the background */
}

.calendar-day--selectable {
  background-color: #007bff; /* A blue background for selectable dates */
  color: black; /* White text to contrast the background */
  cursor: pointer; /* Cursor indicates the date can be selected */
}

.calendar-day--unselectable {
  background-color: #e9ecef; /* A light gray background for unselectable dates */
  color: #6c757d; /* A darker gray to indicate these are not available */
  cursor: not-allowed; /* Cursor indicates the date cannot be selected */
}


/* section: login Modal */
.modal {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .modal-dialog { */
  /* margin: 0 auto; */
  /* margin-top: 5vh; */
  /* transform: translateY(-50%);  */
  /* top: 1%;  */
/* } */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.selected-thumbnail {
  border: 2px solid #007bff; /* Bootstrap primary color for the border */
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5); /* Optional: adds a subtle glow effect */
}



/* imageViewer v2 */
.thumbnail {
  cursor: pointer;
  border: 5px solid transparent; /* Default border */
  transition: border 0.3s; /* Smooth transition for the border */
  position: relative;
  width: 100%;
  padding-top: 100%; /* This sets the height as a percentage of the width (3:2 aspect ratio) */
  overflow: hidden;
  border-radius: 15%;
} 

.thumbnail:hover {
  border: 5px solid #00FF00; /* Green border on hover */
}

.thumbnail.selected {
  border: 5px solid blue; /* Blue border for selected thumbnails */
}
.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10%; */
}

/* operatorSetup */
@media (max-width: 750px) {
  .pad-top-sm {
    margin-top: 10px; /* Example padding value, adjust as needed */
  }
}

/* infoBar */
.thumbnail-img-infobar {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

/* Media query for screens narrower than 390px */
@media (max-width: 400px) {
  .thumbnail-img-infobar {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}


/* lazy-loading for images */
.lazy-load-image-background {
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* AboutScreen.js */
.sticky-card-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Adjust as needed to ensure it stays on top */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for better separation */
}

.limited-size-image {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust the height as needed */
}

